.about-container {
  margin-left: 7vw;
  h1 {
    margin: 10vh 0;
    font-size: 5rem;
    font-weight: 200;
    letter-spacing: 0.1vw;
  }

  h2 {
    margin: 10vh 0;
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 0.1vw;
  }

  .text {
    margin: 0 4vw;
    font-size: 1.2rem;
    letter-spacing: 0.01vw;
    margin-top: 10vh;
  }

  .skills-container {
    padding-left: 0;
    width: 80%;
    list-style: none;
    position: relative;
    display: flex;
    columns: 4;
    flex-flow: row wrap;
    gap: 20px;
  }
}
