.image-container {
  width: 75%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  object-fit: fill;
  float: left;
  padding-top: 0px;
}

.text-container:hover {
  -webkit-text-stroke: 0.1px rgb(255, 255, 255);
  opacity: 75%;
}

.text-container {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.text-header {
  padding-top: 1vh;
  padding-bottom: 1.5vh;
  font-size: 5vh;
  text-decoration: none;
}

.text-header2 {
  display: flex;
  justify-content: center;
  font-size: 2.5vh;
  padding-bottom: 2.5vh;
}

.text-body {
  padding-bottom: 1vh;
  font-size: 1.75vh;
  line-height: 2.5vh;
  padding-left: 2%;
  padding-right: 2%;
  text-align: left;
}

.text-tech {
  padding-bottom: 1vh;
  font-size: 1.75vh;
  letter-spacing: 0.1px;
  line-height: 2.5vh;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

.iconv2 {
  height: 3vh;
  width: 3vh;
  padding: 0px 2%;
}

.project-container {
  opacity: 1;
  background-color: #0f0f0f;
  width: 40%;
  border-radius: 10px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin: 2vh auto;
  border-style: solid;
  border-color: #929292;
  margin-bottom: 10vh;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
