#main-page {
    .heading {
        margin: 0 2vw;
        font-size: 10rem;
        font-weight: 300;
    }

.subheading {
    width: 50vw; 
    text-wrap: wrap;
    font-size: 1.5rem;
    margin: 0 2vw;
}
}