.experience-container {
    opacity: 1;
    background-color: #0f0f0f;
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin: 2vh auto;
    border-style: solid;
    border-color: #929292;
    margin-bottom: 10vh;
}

ul {
    padding-left: 0px;
}

.experience-heading {
    padding: 2vh; 
    padding-bottom: 1vh;
    font-size: 2.5vh;
    display: flex;
    text-align: center;
    line-height: 2.5vh;
    text-decoration: none;
}

.experience-date {
    padding-bottom: 1vh;
    font-size: 2vh;
    letter-spacing: .1px;
    line-height: 2.5vh;
    padding-left: 5px;
    text-align: center;
    padding-right: 5px;
}

.experience-body {
    padding-bottom: 1vh;
    font-size: 1.75vh;
    letter-spacing: .1px;
    line-height: 2.5vh;
    padding-left:  10px;
    padding-right: 5px;
}



