@font-face {
  font-family: 'Acumin';
  /*a name to be used later*/
  src: url('../config/fonts/Acumin-Pro-Semibold.ttf');
  /*URL to font*/
}

.wrapper {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.visible {
  transition-timing-function: ease-in;
  transition: 1s;
  opacity: 1;
}

.notvisible {
  opacity: 0;
  transition-timing-function: ease-in;
  transition: .25s;

}

NavBar {
  right: 0;
  z-index: 1;
  position: fixed;
  display: grid;
  background-color: #0f0f0f;
  width: 100%;
}

* {
  font-family: Acumin;
  /* color: #F2EDD7FF; */
  color: white;

}

li {
  display: inline;
  position: relative;
}

a {
  overflow: hidden;
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600px;
  /* animation: color-change 6s infinite; */
  letter-spacing: 5px;
  margin-right: 20px;
  float: right;
  margin-top: 20px;
  padding: 10px;
}

a:hover {
  -webkit-text-stroke: 1.25px rgb(255, 255, 255);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/* title */
h1 {
  top: 0;
  font-size: 20rem;
  margin-top: 0px;
  padding-top: 125px;
  padding-left: 2rem;
  letter-spacing: -10px;
  margin: 0px;
  opacity: 1;
  position: relative;
  overflow-wrap: break-word;
}

h2 {
  opacity: 1;
  font-size: 40px;
  padding-left: 100px;
  margin-bottom: 20px;
}

p {
  font-size: 25px;
  font-weight: -5px;

  float: right;
  opacity: 0;
  padding-left: 2rem;
  overflow-wrap: break-word;
  letter-spacing: -.5px;
  padding-right: 20rem;
}

/* .coop {
  font-size: 25px;
  font-weight: 400;
  padding-top: 2;
  margin-left: 25px;
  float: left;
  opacity: 0;
} */


/* COLOUR CHANGE */
@keyframes color-change {
  33% {
    opacity: 1;
  }

  66% {
    opacity: .5;
  }

  99% {
    opacity: 1;
  }
}



/* .scrolltracker {
  height: .5rem;
  inset: 0 0 auto;
  background-color: F2EDD7FF;
  position: fixed;
} */