.skills {
    position: relative;
}

.icon {
    width: 100px;
    height: 100px;
}

.icon:hover {
    transform: scale(1.1);
}

.skills-ul {
    position: relative;
    columns:3;
}

.skill {
    padding-bottom: 20px;
}