@font-face {
  font-family: 'Acumin';
  /*a name to be used later*/
  src: url('../components/config/fonts/Acumin-Pro-Semibold.ttf');
  /*URL to font*/
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  z-index: -1;
  position: absolute;
}

.visible {
  transition-timing-function: ease-in;
  transition: 1s;
  opacity: 1;
}

.notvisible {
  opacity: 0;
  transition-timing-function: ease-out;
  transition: 1s;
}

* {
  font-family: Acumin;
  /* color: #F2EDD7FF; */
  color: white;
  line-height: .7em;
  animation: ease-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

.container-main {
  top: 20vh;
  position: relative;
  text-align: center;
}

.projects {
  top: 30vh;
  position: relative;
  text-align: center;
}
