/* title */
h1 {
    font-size: 20vh;
    letter-spacing: -5px;
    opacity: 1;
    overflow-wrap: break-word;
    margin: 0;
    animation: ease-in;
}

h2 {
    font-size: 3vh;
    opacity: 1;
    margin-top: 5px;
    margin-bottom: 0px;
}

h3 {
    font-size: 5vh;
    opacity: 1;
    padding-bottom: 25px;
    text-align: center;
}