.navigation-bar {
  position: fixed;
  right: 1.75vw;
  top: 6vh;
  .navigation-element {
    position: absolute;
    right: 0;
    color: white;
    text-decoration: none;
    font-size: 1.75vh;
    font-weight: 200px;
    letter-spacing: 0.12vw;
  }

  li {
    list-style-type: none;
    padding: 3.2vh 0;
  }
}
