.nav {
        overflow: hidden;
        color: white;
        text-decoration: none;
        font-size: 1.75vh;
        font-weight: 800px;
        /* animation: color-change 6s infinite; */
        letter-spacing: .25vw;
        margin-right: 1vw;
        padding: 10px;
}

#transition {
    transition: .1s;
}

li {
    display: inline;
}

.navbar {
    z-index: 1;
    position: fixed;
    display: grid;
    width: 100%;
    text-align: center;

}

a:hover {
    -webkit-text-stroke: .5px rgb(255, 255, 255);
}