.skills-container {
  .icon {
    width: 3vw;
    height: 3vw;
  }

  .icon:hover {
    transform: scale(1.1);
  }

  .skill {
    padding-bottom: 25px;
    width: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skill-name {
    font-size: 1vw;
  }
}
