.nav {
        color: white;
        text-decoration: none;
        font-size: 1.75vh;
        font-weight: 800px;
        /* animation: color-change 6s infinite; */
        letter-spacing: .25vw;
        padding: 1.5vw;
}

#transition {
    transition: .1s;
}

.details {
    margin-top: 2vh;
}
li {
    display: inline;
}

.navbar {
    width: 100%;
    text-align: center;
}

a:hover {
    -webkit-text-stroke: .65px rgb(255, 255, 255);
}